{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="zxx">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="flexkit">

  <link rel="shortcut icon" href="https://uomo-html.flexkitux.com/images/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com/">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allura&amp;display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static "web/css/plugins/swiper.min.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "web/css/plugins/jquery.fancybox.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "web/css/style.css" %}" type="text/css">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js" %}"></script>
  <![endif]-->

  <!-- Document Title -->
  <title>Track & field | e-commerce </title>

</head>


<body class="gradient-bg-10">
    {% include "web/partials/header.html" %}
    {% block content %}
    {% endblock content %}
    {% include "web/partials/footer.html" %}


<!-- Go To Top -->
<div id="scrollTop" class="visually-hidden end-0"></div>

<!-- Page Overlay -->
<div class="page-overlay"></div><!-- /.page-overlay -->


<!-- External JavaScripts -->
<script src="{% static "web/js/plugins/jquery.min.js" %}"></script>
<script src="{% static "web/js/plugins/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "web/js/plugins/bootstrap-slider.min.js" %}"></script>

<script src="{% static "web/js/plugins/swiper.min.js" %}"></script>
<script src="{% static "web/js/plugins/countdown.js" %}"></script>
<script src="{% static "web/js/plugins/jquery.fancybox.js" %}"></script>

<!-- Footer Scripts -->
<script src="{% static "web/js/theme.js" %}"></script>

</body>
</html>
